# Untracked files
stderr*
*.2
*.blist
*.wlist
*.json
*.tsv
*.sh
*.txt
*.liq
*.bin
op25_python

# Tracked files that would otherwise be excluded
!op25.sh
!op25.liq
!example_liquidsoap.liq
!trunk.tsv
!cfg.json
!meta.json
